@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&display=swap');

@import url('result.css');
@import url('summary.css');
@import url('footer.css');

:root {
  /* Cores Primárias */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradientes */
  --background-gradient: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --circle-gradient: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  /* Cores Neutras */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 85%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

/* Reset CSS */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: var(--light-lavender);
}

strong {
  color: var(--dark-gray-blue);
  font-weight: 800;
}

a {
  text-decoration: none;
}

.results-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 820px) {
  body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .results-container {
    flex-direction: row;
    border-radius: 2rem;
    box-shadow: 2px 5px 10px 2px;
  }
}
